<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remercierement</title>
</head>
<body>
    <center>
        <div style="border: 2px solid;
                border-radius:6px;
                margin-top: 200px;
                width:50%;">
            <h3> VOTRE COMMANDE EST BIEN PRIS EN MAIN,
                MERCI DE REJOINGRE NOTRE MARKETNUMERIQUE, 
                VEUILLEZ VOUS ATTENDRE QUELQUES MINUTES POUR 
                LA REMISE DE VOTRE ACHAT AUPRES DE NOTRE AGENCE, 
                MERCIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            </h3>
        </div>
    </center>
</body>
</html>